html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, header, footer {
  box-sizing: border-box; }

.menu .search input, .add-new-book__bg .input-details {
  background-color: #ffffff;
  border-radius: 2.5rem;
  box-sizing: border-box;
  color: #4f4f4f;
  font-size: 1.4rem;
  height: 5rem;
  padding: 0 2rem; }

.menu .search input:focus, .add-new-book__bg .input-details:focus {
  outline: none; }

input[type="text"]:disabled {
  background: #c7c7c7; }

.info input[type="text"]:disabled {
  background: #f9f9f9;
  border: 1px solid #f9f9f9; }

.info input[type="checkbox"] + label {
  cursor: default; }

button.action, button.alert, button.book-action, button.book-action--alert {
  border: 0px;
  color: #ffffff;
  cursor: pointer; }

button.action, button.alert {
  border-radius: 2.5rem;
  font-size: 1.6rem;
  height: 5rem;
  padding: 0 2rem; }

button.book-action, button.book-action--alert {
  border-radius: 0.3rem;
  font-size: 1.2rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  width: 2.5rem; }

button:focus {
  outline: none; }

button.action {
  background-color: #087E8B; }

button.alert {
  background-color: #E56399; }

button.book-action {
  background-color: #087E8B; }

button.book-action--alert {
  background-color: #E56399; }

button.book-action:last-of-type {
  margin-right: 0px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  display: block;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

input[type="checkbox"] + label:last-child {
  margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  border: 1px solid #087E8B;
  border-radius: 0.3rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s; }

input[type="checkbox"]:checked + label:before {
  width: 1rem;
  top: -0.5rem;
  left: 0.5rem;
  border-radius: 0.3rem;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

html, * {
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 10px;
  font-weight: 300; }

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.container {
  display: flex;
  width: 100%;
  min-height: 95vh; }

footer {
  align-items: center;
  background-color: #087E8B;
  color: #ffffff;
  display: flex;
  font-size: 1.2rem;
  height: 5vh;
  justify-content: center;
  width: 100%; }

hr {
  border: 0;
  border-top: 1px solid #c7c7c7;
  margin-bottom: 5rem; }

hr.ondark {
  border-top: 1px solid #ffffff; }

.table-footer-container {
  box-sizing: border-box;
  padding-left: 30rem;
  width: 100%; }

.books-list {
  font-size: 1.2rem;
  min-height: 95vh;
  width: 100%; }

.books-list hr {
  margin: 0; }

.table-row {
  align-items: center;
  display: flex;
  min-height: 5rem;
  justify-content: space-around;
  padding: 1.2rem 5rem;
  width: 100%; }

.table-row .table__hidden {
  margin-right: 5rem;
  width: 30rem; }

.table-row .table__id {
  width: 3rem; }

.table-row .table__title {
  width: 40%; }

.table-row .table__author, .table-row .table__state {
  width: 20%; }

.table-row .table__title, .table-row .table__author, .table-row .table__state {
  padding-right: 3rem; }

.table-row .table__action {
  min-width: 9rem;
  width: 10%; }

.table-content {
  min-height: 5rem; }

.table-content > div:nth-child(odd) {
  background-color: #ffffff; }

.table-content > div:nth-child(even) {
  background-color: #f9f9f9; }

.menu-below {
  background-color: #01172F;
  box-sizing: border-box;
  height: 100vh;
  padding: 5rem;
  width: 300px; }

.menu {
  background-color: #01172F;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 5rem;
  position: fixed;
  width: 30rem; }

.menu > * {
  color: #ffffff;
  text-align: center; }

.menu .menu__content > * {
  margin-bottom: 5rem; }

.menu button {
  min-width: 20rem;
  margin-bottom: 5rem; }

.menu .search {
  position: relative;
  color: #4f4f4f;
  font-size: 1.1rem;
  margin-bottom: 2rem; }

.menu .search input {
  min-width: 20rem;
  background: #ffffff;
  border: 0;
  border-radius: 2.5rem; }

.menu .search input {
  text-indent: 2rem; }

.menu .search .fa-search {
  position: absolute;
  top: 1.9rem;
  left: 2rem; }

.add-new-book__bg {
  align-items: center;
  background-color: #01172F;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.add-new-book__bg .add-new-book__form {
  background-color: #ffffff;
  border: 0px;
  border-radius: 0.3rem;
  box-sizing: border-box;
  min-width: 100rem;
  padding: 5rem; }

.add-new-book__bg .input-details {
  border: 1px solid #c7c7c7;
  min-width: 44rem; }

.add-new-book__bg .add-new-book__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%; }

.add-new-book__bg .add-new-book__row--lent {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5rem;
  width: 100%; }

.add-new-book__bg .checkbox-container {
  margin-right: 2rem; }

.add-new-book__bg .add-new-book__row:last-of-type {
  margin-bottom: 0; }

.add-new-book__bg .add-new-book__info {
  color: #E56399;
  font-size: 2rem;
  font-weight: 600; }

.add-new-book__bg button {
  width: 15rem; }

.add-new-book__bg button:first-of-type {
  margin-right: 1rem; }
