.add-new-book__bg {
  & {
    align-items: center;
    background-color: $color-main;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

  .add-new-book__form {
    background-color: $color-row-bg-lighter;
    border: 0px;
    border-radius: 0.3rem;
    box-sizing: border-box;
    min-width: 100rem;
    padding: 5rem;
  }

  .input-details {
    @extend %input;
    border: 1px solid $color-lines;
    min-width: 44rem;
  }

  .input-details {
    @extend %input;
    border: 1px solid $color-lines;
    height: 5rem;
    width: 44rem;
  }

  .add-new-book__row {
    & {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  .add-new-book__row--read {
    & {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  .add-new-book__row--lent {
    & {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5rem;
      width: 100%;
    }
  }

  .checkbox-container {
    margin-right: 2rem;
  }

  .add-new-book__row:last-of-type {
    margin-bottom: 0;
  }

  .add-new-book__info {
    color: $color-alert;
    font-size: 2rem;
    font-weight: 600;
  }

  button {
    width: 15rem;
  }

  button:first-of-type {
    margin-right: 1rem;
  }
}
