html, * {
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 10px;
  font-weight: 300;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  width: 100vw;
  min-height: $height-content;
}

footer {
  align-items: center;
  background-color: $color-action;
  color: $color-font-ondark;
  display: flex;
  font-size: 1.2rem;
  height: 100vh - $height-content;
  justify-content: center;
  width: 100vw;
}

hr {
  border: 0;
  border-top: 1px solid $color-lines;
  margin-bottom: 5rem;
}

hr.ondark {
  border-top: 1px solid $color-font-ondark;
}
