.books-list {
  & {
    font-size: 1.2rem;
    min-height: $height-content;
    width: 100%;
  }
  hr {
    margin: 0;
  }
}

.table-row {
  & {
    align-items: center;
    display: flex;
    min-height: 5rem;
    justify-content: space-around;
    padding: 1.2rem $padding;
    width: 100%;
  }
  .table__title {
    width: 40%;
  }
  .table__author, .table__state {
    width: 25%;
  }
  .table__title, .table__author, .table__state {
    padding-right: 3rem;
  }
  .table__action {
    min-width: 9rem;
    width: 10%;
  }
}

.table-content {
  &>div:nth-child(odd) {
    background-color: $color-row-bg-lighter
  }
  &>div:nth-child(even) {
    background-color: $color-row-bg-darker;
  }
}
