.table-footer-container {
  box-sizing: border-box;
  padding-left: 30rem;
  width: 100%;
}

.books-list {
  & {
    font-size: 1.2rem;
    min-height: $height-content;
    width: 100%;
  }
  hr {
    margin: 0;
  }
}

.table-row {
  & {
    align-items: center;
    display: flex;
    min-height: 5rem;
    justify-content: space-around;
    padding: 1.2rem $padding;
    width: 100%;
  }
  .table__hidden {
    margin-right: 5rem;
    width: 30rem;
  }
  .table__id {
    width: 3rem;
  }
  .table__title {
    width: 30%;
  }
  .table__author, .table__state {
    width: 20%;
  }
  .table__rating {
    width: 10%;
  }
  .table__title, .table__author, .table__state {
    padding-right: 3rem;
  }
  .table__action {
    width: 9rem;
  }
}

.table-content {
  & {
    min-height: 5rem;
  }
  &>div:nth-child(odd) {
    background-color: $color-row-bg-lighter
  }
  &>div:nth-child(even) {
    background-color: $color-row-bg-darker;
  }
}
