%buttons {
  border: 0px;
  color: $color-font-ondark;
  cursor: pointer;
}

%big-buttons {
  @extend %buttons;
  border-radius: 2.5rem;
  font-size: 1.6rem;
  height: 5rem;
  padding: 0 2rem;
}

%book-action {
  border-radius: 0.3rem;
  font-size: 1.2rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  width: 2.5rem;
}

button {

  &:focus {
    outline: none;
  }

  &.action {
    @extend %big-buttons;
    background-color: $color-action;
  }

  &.alert {
    @extend %big-buttons;
    background-color: $color-alert;
  }

  &.book-action {
    //@extend %buttons;
    //@extend %book-action;
    color: $color-action;
  }

  &.book-action--alert {
    @extend %buttons;
    @extend %book-action;
    background-color: $color-alert;
  }

  &.book-action:last-of-type {
    margin-right: 0px;
  }

}

.book-action, .book-action--alert {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 5px;
}

.book-action {
  color: $color-action;
}

.book-action--alert {
  color: $color-alert;
}
