@import "../modules/variables";

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkbox-label {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  .checkbox {
    align-items: center;
    border: 1px solid $color-action;
    border-radius: 3px;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 0;
    width: 20px;

    .fa-check {
      color: $color-action;
      display: none;
      font-size: 12px;
    }
  }

  p {
    display: inline-block;
    padding-left: 10px;
  }
}

input[type="checkbox"]:checked + label .fa-check {
  display: block;
}

