.menu {

  & {
    background-color: $color-main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: $height-content;
    padding: $padding;
    width: 30rem;
  }

  & > * {
    color: $color-font-ondark;
    text-align: center;
  }

  .menu__content > * {
    margin-bottom: 5rem;
  }

  button {
    min-width: 20rem;
    margin-bottom: 5rem;
  }

  .search {
    position: relative;
    color: $color-font;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .search input {
    @extend %input;
    min-width: 20rem;
    background: $color-row-bg-lighter;
    border: 0;
    border-radius: 2.5rem;
  }

  .search input {
    text-indent: 2rem;
  }

  .search .fa-search {
    position: absolute;
    top: 1.9rem;
    left: 2rem;
  }

}
