// Colors
$color-main: #01172F;
$color-action: #087E8B;
$color-alert: #E56399;
$color-font: #4f4f4f;
$color-font-ondark: #ffffff;
$color-lines: #c7c7c7;
$color-row-bg-lighter: #ffffff;
$color-row-bg-darker: #f9f9f9;

$padding: 5rem;

$height-content: 90vh;
